@{
    ViewBag.Title = "About";
}


<h2>РА "Эксклюзив”</h2>
<h3>– первое и единственное в Приднестровье рекламное агентство полного цикла.</h3>

<p>
    <img src="http://www.ra-ex.com/templates/Gemini/images/weblounge-logo-retina.png" width="250" height="250"
         alt="Иллюстрация" align="right"
         vspace="5" hspace="5">Рекламное агентство "Эксклюзив” выполняет полный набор рекламных и маркетинговых услуг: от проведения маркетинговых исследований, разработки и проведения полномасштабных рекламных кампаний до изготовления представительской продукции.
    <br>
    Работы рекламного агентства "Эксклюзив” Вы видите каждый день на телевидении, спорткомплексе "Шериф”, наружная реклама встречает Вас на улицах городов республики.
    <br>
    Основным преимуществом рекламного агентства "Эксклюзив” является собственная производственная база по всем основным рекламным направлениям: видеореклама, широкоформатная печать, наружная реклама. Многие наши услуги носят действительно эксклюзивный характер: реклама на спортивном комплексе "Шериф”, размещение рекламы на семи телевизионных каналах.

    <br>
    В производстве и размещении рекламы мы стараемся применять научный подход. Любая рекламная кампания тщательно прорабатывается с позиции маркетинга и медиапланирования. Для достижения поставленных целей сотрудники рекламного агентства проводят учебные тренинги, посещают рекламные фестивали и специализированные семинары.
    <br>
    Наши рекламные технологии базируются на глубоком изучении ценностей целевых аудиторий, что позволяет наиболее эффективно, нестандартными средствами, доносить до их подсознания необходимую информацию.
    Мы постоянно развиваемся, осваиваем и внедряем новейшие технологии и разработки, запускаем новые проекты, прорабатываем методические вопросы, анализируем сделанное нами и нашими конкурентами, работаем над увеличением эффективности рекламы в целом.
    <br>
    <img src="https://avatars.mds.yandex.net/get-zen_doc/1131118/pub_5ad8a4a4bcf1bc28caede683_5ad8a4f0fd96b16ef1252c6a/scale_1200" width="250" height="230"
         alt="Иллюстрация" align="left"
         vspace="5" hspace="5">
    <b>Основные преимущества рекламного агентства "Эксклюзив”:</b><br>

    - права на использование рекламных возможностей при размещении рекламы на спорткомплексе "Шериф”, на билбордах (более 100 щитов по ПМР), на телевидении (7 телеканалов);
    <br>
    - использование социологических исследований и стратегического планирования для проведения комплексных рекламных кампаний;<br>

    - оперативность в обработке заказов;<br>

    - профессиональная компетентность;<br>

    - высокий уровень работы с клиентами;<br>

    - гибкая система скидок для рекламодателей в зависимости от бюджета и продолжительности рекламной кампании;<br>

    - оригинальные технологии, программное обеспечение и банки данных;<br>

    - эффективное медиапланирование;<br>

    - мощный творческий потенциал;<br>

    - качественный результат;<br>


    <b>Основная цель деятельности рекламного агентства</b> - активное участие в развитии отечественного рынка профессиональных рекламных услуг. "Эксклюзив" предоставляет на рынок только качественные рекламно-информационные услуги, позволяющие клиентам получать максимальный результат от рекламных кампаний.
</p>
<p>
    <b>НАШИ КОНТАКТЫ:</b><br />
    г.Тирасполь<br />
    ул.Карла Либкнехта, 1/2<br />

    Отдел по работе с клиентами:<br />
    <br />
    Роман, менеджер по работе с клиентами - тел.: (533) 6-35-67<br />
    Сергей, менеджер по работе с клиентами - тел.: (533) 6-35-62<br />
    Евгений, менеджер по работе с клиентами - тел.: (533) 6-34-32<br />
    Елена, менеджер по работе с клиентами - тел.: (533) 6-35-68<br />

    Видеоотдел:<br />
    <br />
    Игорь, начальник видеомонтажного комплекса - тел.: (533) 6-36-40<br />
    <br />
    факс: (533) 6-35-66
</p>
