@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="https://sun9-32.userapi.com/c858028/v858028984/15c1a0/2LDAwPqnZ3w.jpg" width="100%" height="600"
         alt="Иллюстрация" align="left"
         vspace="5" hspace="5">
</div>
<style>
    img {
        margin-top: 0;
    }
</style>
<div>
    <div align="center">
        <h1><b>НАШИ УСЛУГИ</b></h1>
    </div>

    <div>
        <h3 align="center">Широкоформатная печать</h3>
        <br />
        <img src="https://vreklame.md/wp-content/uploads/2018/04/2018-04-17_06-55-02-353858_u1.jpg" width="300" height="250"
             alt="Иллюстрация" align="left"
             vspace="5" hspace="5">
        Широкоформатная печать — давно является неотъемлемой частью нашей жизни: сегодня невозможно представить наружную и интерьерную рекламу, без широкоформатной печати. Баннеры, оракал, холст, постеры, натяжные потолки с фотопечатью, фотообои — это небольшая часть того, что мы производим на широкоформатных принтерах от 60 лей Рекламное агентство «Vreklame» является агентством полного цикла и выполняет полный комплекс всех работ в разработке и изготовлении рекламы с максимальным результатом. Это является главным залогом успеха нашей работы.
    </div>
    <div>
        <h3>Аренда билбордов</h3>
        <br />
        <img src="https://vreklame.md/wp-content/uploads/2018/04/2018-04-24_07-35-43-911463_u1.jpg" width="210" height="250"
             alt="Иллюстрация" align="right"
             vspace="5" hspace="5">
        Рекламные щиты 3х6 (билборды, щиты 3х6 м, магистральные щиты) — отдельно стоящая рекламная конструкция. Ширина рекламного поля – 6 метров, высота – 3 метра.
        Размещение рекламы на щитах 3х6 дает Вам возможность проведения рекламных кампаний, как в масштабах всей страны, так и в определенных ключевых точках города, например, близи Вашего офиса, мест продажи товара и пр.

        Используя рекламный щит 3х6 в качестве средства распространения информации о Вашей компании, Вы можете достичь различных целей, например:
        Цель: увеличение продаж, увеличение количества входящих звонков, увеличение посещаемости офиса, ресторана или магазина потенциальными потребителями товара или услуги.
        Размещение рекламной информации на нескольких щитах 3х6 в непосредственной близости от вашего месторасположения позволит оповестить жителей района, оптимизировать транспортные потоки в направлении мест продажи, офису и проч. Что, в свою очередь, приведет к значительному увеличению количества звонков, посетителей и продаж.
    </div>
    <div>
        <h3 align="center">Плоттерная резка</h3>
        <br />
        <img src=" https://vreklame.md/wp-content/uploads/2018/04/2018-04-17_07-03-41-840658_u1-300x225.jpg" width="300" height="250"
             alt="Иллюстрация" align="left"
             vspace="5" hspace="5">
        Технология, позволяющая вырезать из различных материалов необходимые элементы, чаще всего, для изготовления наружной рекламы. Плоттер точно воспроизводит векторное изображение, передаваемое с компьютера — вручную попросту невозможно добиться столь высокого качества, которое обеспечивает плоттерная резка.
        С помощью плоттерной резки изготавливается широчайший спектр продукции. Ее используют не только при изготовлении вывесок или табличек, но и при оформлении витрин, для нанесения изображений на автомобили, и даже при изготовлении огромных рекламных щитов. С помощью плоттера может осуществляться резка множества различных материалов, но на сегодняшний день наиболее востребованными типами резки являются плоттерная резка пленки и плоттерная резка наклеек.


    </div>
</div>
