@model MyReklama.Models.Service

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Наименование
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                Цена
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                Описание
            </dt>

            <dd>
                Давно является неотъемлемой частью нашей жизни: сегодня невозможно представить наружную и интерьерную рекламу, без широкоформатной печати. Баннеры, оракал, холст, постеры, натяжные потолки с фотопечатью, фотообои — это небольшая часть того, что мы производим на широкоформатных принтерах Рекламное агентство является агентством полного цикла и выполняет полный комплекс всех работ в разработке и изготовлении рекламы с максимальным результатом. Это является главным залогом успеха нашей работы.            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Назад", "Index")
    </p>
</body>
</html>
