@model MyReklama.Models.Service

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4></h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Наименование
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                Цена
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                Описание
            </dt>

            <dd>
                Sitting hearted on it without me. Course sir people worthy horses add entire suffer. Ecstatic elegance gay but disposed. Uncommonly no it announcing melancholy an in. If as increasing contrasted entreaties be. Fortune day out married parties. Feel and make two real miss use easy. At none neat am do ove
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Назад", "Index")
    </p>
</body>
</html>
